body {
    width: 100%;
    margin: auto;
}

h1 {
    color: red;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    border: 2px solid green;
}

td {
    border: 1px solid #5490C3;
    padding: 5px;
}

tr:nth-of-type(odd) {
    background-color: #B6D1EB;
}

tr:nth-of-type(even) {
    background-color: #D8E5F2;
}