* {
    color: red;
}

ul {
    background-color: lightyellow;
    border: solid 1px black;
    list-style-type: none;
    width: 8%;
    height: 110px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 13px 3px rgb(75, 117, 206);
}

ul:hover {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

li:first-child {
    text-decoration: overline;
    font-size: 20px;
    color: blue;
}

li:last-child {
    text-decoration: underline;
    font-size: 20px;
    color: green;
}