@keyframes faded1 {
    0%   { opacity: 1;background-image: url("../img/6.jpg");}
    25% { opacity: 0.5;background-image: url("../img/6.jpg");}
    40% { opacity: 0.25;background-image: url("../img/6.jpg");}
    50%  { opacity: 0;background-image: url("../img/7.jpg");}
    65%  { opacity: 0.25;background-image: url("../img/7.jpg");}
    75% { opacity: 0.5;background-image: url("../img/7.jpg");}
    100% { opacity: 1;background-image: url("../img/7.jpg");}
  }


body{
    background-color: rgb(120, 76, 201);
 }

 .container{
     margin: 4% 2%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(77, 133, 206);
    padding: 5px;
}

.container > *{
    height: 200px;
    margin: 5px 5px;
}

.photo1{
    animation: faded1 5s infinite ease;
    background-size: cover;
    border-radius: 10px;
    border:1px solid green;
    grid-row: 1 / span 2;
    height: auto;
}

.photo2{
    background-size: cover;
    background-image:url("../img/1.jpg");
    border-radius: 10px;
    border:1px solid green;
}

.photo3{
    background-size: cover;
    background-image:url("../img/2.jpg");
    border-radius: 10px;
    border:1px solid green;
    grid-column: 3 / span 2;
}

.photo4{
    background-size: cover;
    background-image:url("../img/3.jpg");
    border-radius: 10px;
    border:1px solid green;
    grid-row: 2 / span 2;
    height: auto;
}

.photo5{
    background-size: cover;
    background-image:url("../img/4.jpg");
    border-radius: 10px;
    border:1px solid green;
    
}

.photo6{
    background-size: cover;
    background-image:url("../img/5.jpg");
    border-radius: 10px;
    border:1px solid green;
}

.photo7{
    background-size: cover;
    background-image:url("../img/8.jpg");
    border-radius: 10px;
    border:1px solid green;
}

.photo8{
    background-size: cover;
    background-image:url("../img/9.jpg");
    border-radius: 10px;
    border:1px solid green;
    grid-column: 3 / span 2;
}