///
///@author Guillermo Moreno Rodriguez
///

///
/// Máximo de columnas por defecto
///
$MAX_COLUMNS: 4 !default;
///
/// Scss de gallery
///Columnas dependiendo del tamaño de pantalla
///
$RESPONSIVE_COLUMNS: (
  1024px: 3,
  768px: 2,
  480px: 1,
);

///
/// Define cuantas columnas se mostrarán
/// @param {Number} $n - Numero de columnas que se quiere mostrar
///
@mixin resize($n) {
  .gallery img {
    width: calc(100% / #{$n});
  }
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

.gallery {
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

@include resize(4);

/* Mostrar x columnas segun el tamaño de la pantalla */
@each $size, $value in $RESPONSIVE_COLUMNS {
  @media screen and (max-width: $size) {
    @include resize($value);
  }
}
